body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*ben ekledim*/

img{
  /*height: 100%;*/
  /*max-width: 100%;
  object-fit: cover;*/
  /*max-height:200px;  max-width:200px;*/
}

.media-object {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: relative;
  z-index: 20;
} 
